*.suo
*.user
*.userosscache
*.sln.docstates

.idea/
.vs/

[Bb]in/
[Oo]bj/
TestResults/

project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

[Tt]humbs.db
.DS_Store

*.log

appsettings.Development.json
secrets.json
